@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #141313;
    overflow: hidden;
}

.main .header-content {
    display: grid;
    grid-template-columns: 3fr 8fr 3fr;
    gap: 3px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.header-content .logo {
    display: flex;
    justify-content: left;
    align-items: left;
    transition: ease-in;
}

.header-content .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;  
    gap: 22px;      
}

.navbar .nav-cnt {
    font-size: 14px;
    margin-right: 8px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: 0.15s;
}

.nav-cnt:hover {
    background-color: #2e2e2e;
}

/* .navigation .navbar {
    margin: 5px;
    padding: 5px;
} */

.logo {
    margin: 5px;
    padding: 5px;
}

.logo img {
    width: 30px;
    height: 30px;
}

.logo img:hover {
    transform: scale(1.1);
}

.logo a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    margin-left: 10px;
    color: #fff;
    transition: color, ease-in;
}

.header-content .login-cnt {
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 5px;
    margin: 5px;
    padding: 5px;
}

.login-cnt .login {
    border-radius: 20px;
    font-size: 12px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    border: 2px solid #fff;
}

.login-cnt .sign-in {
    border-radius: 20px;
    font-size: 12px;
    width: 150px;
    height: 40px;
    background-color: #141313;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: background-color, 0.15s;
}

.sign-in:hover{
    background-color: #2e2e2e;
}

.login-cnt .question {
    color: #fff;
    font-size: 14px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #141313;
    margin: 8px;
    cursor: pointer;
    transition: ease-in;
}

.question:hover{
    transform: scale(1.3);
}

.section {
    height: 600px;
    width: auto;
    margin: 0 20px;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content div {
    height: 100px;
    width: auto;
}

div .page-cnt {
    color: #fff;
    text-align: center;
    font-size: 20px;
}

div .chat {
    height: 110px;
    display: flex;
    flex-direction: column;
    margin: 0 300px;
    padding-left: 30px;
    border: 1px solid #292929;
    border-radius: 30px;
    background-color: #292929;
}

.chat-cnt {
    color: #747272;
    padding: 15px 0;
}

.extra-cnt {
    display: flex;
    margin-top: 20px;
    color: #fff;
}

.extra-features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
    gap: 10px;
}

.extra-features div img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}