body {
    width: 1050px;
    height: auto;
    border: 2px solid black;
}
.container {
    width: 1000px;
    height: auto;
    padding: 15px;
    margin: 10px;
}
.header-container {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr;
    padding: 10px;
    margin: 10px;
}
#selymoon {
    color:rgb(5, 33, 245);
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
}
.header-container > div.track, .header-container > div.contact {
    text-align: center;
}
.track, .contact {
    color: black;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    padding: 12px;
}
.link:link {
    text-decoration: none;
    color: black;
}
.link:hover {
    text-decoration: underline;
    color: black;
}
.link:visited {
    color: lightblue;
}
.link:active {
    color: blue;
}
.section1, .section3 {
    background-color: lightgray;
    border: 2px solid lightgray;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    margin: 10px;
}
.image {
    height: 200px;
    width: auto;
}
.line1 {
    font-size: 50px;
    color: rgb(1, 1, 78);
    font-weight: bolder;
    padding: 15px;
    margin: 15px;
}
.line2 {
    font-size: 25px;
    color: rgb(1, 1, 78);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 50px;
    margin: 0;
}
.button1 {
    font-size: 30px;
    color: white;
    background-color: rgb(11, 27, 108); 
    padding: 30px;
    margin: 25px;
    border: none;
    border-radius: 70px;
    height: 100px;
    width: 400px;
    transition: background-color,0.1s;
}
.notification {
    text-decoration: none;
}
.button1:hover{
    background-color: rgb(62, 84, 195);
    box-shadow: 3px 3px 3px 3px rgb(62, 84, 195);
}
.sec-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.sec-container > div {
    text-align: center;
}
.image1 {
    width: 100px;
    height: 100px;
    text-align: center;
    transition: ease-in;
}
.image1:hover, .image:hover {
    transform: scale(1.1);
}
.section2 {
    padding: 25px;
    margin: 10px;
}
.div1 {
    padding: 20px 0;
    font-size: 45px;
}
p {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(153, 151, 151);
}
.line3 {
    font-size: 40px;
    color: rgb(1, 1, 78);
    font-weight: bolder;
    margin: 10px;
}
.line4 {
    font-size: 20px;
    color: rgb(1, 1, 78);
}
.div2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    border-radius: 10px;
    height: 450px;
    width: auto;
    padding: 10px;
}
.div3 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.image2 {
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
}
.image2:hover {
    transform: scale(1.1);
}
.line5 {
    text-align: left;
    font-weight: bold;
    color: rgb(1, 1, 78);
}
.line6 {
    text-align: left;
    color: rgb(141, 138, 138);
}
.price{
    font-size: 35px;
    color: rgb(1, 1, 78);
    padding: 30px;
}
.price:hover {
    transform: scale(1.1);
}
.div4 {
    background-color: white;
    border-radius: 10px;
    height: 200px;
    width: auto;
    padding: 10px;
}
table {
    width: 100%;
}
.td1, .td {
    font-size: 30px;    
    padding: 35px 0;
}
.td1, .th1 {
    text-align: left;
}
.td, .th2 {
    text-align: right;
}
.div5 {
    background-color: white;
    border-radius: 10px;
    height: 50px;
    width: auto;
    padding: 10px;
}
.th1, .th2 {
    font-size: 30px;
    padding: 9px 0;
}
.table1 {
    width: 100%;
    border-collapse: separate;
    border-spacing: 25px;
    padding: 10px 0;
    margin: 5px 0;
}
.td2 {
    font-size: 27px;
    text-align: left;
    color: rgb(1, 1, 78);
}
.th3 {
    font-size: 30px;
    border-bottom: 3px solid rgb(70, 68, 68);
    text-align: left;
    color: rgb(1, 1, 78);
}
.line7 {
    font-size: 40px;
    text-align: center;
    color: rgb(1, 1, 78);
    font-weight: bold;
}
.div6 {
    display: grid;
    grid-template-rows: 1.5fr 3fr;
    gap: 5px;
}
.div7 {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap: 5px;
}
.div9 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(229, 243, 247);
    border-radius: 10px;
    padding: 20px;
}
.line8 {
    font-size: 20px;
    color: rgb(1, 1, 78);
}
.line9 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(1, 1, 78);
}
.image3 {
    width: 100px;
    height: 100px;
}
.div8 {
    background-color: rgb(30, 78, 221);
    border-radius: 20px;
    text-align: center;
}
.line10 {
    color:white;
    font-size: 45px;
    font-family: cursive;
    font-weight: bold;
    margin: 25px 0;
}
.line11, .alink {
    color:white;
    font-size: 25px;
}
.image4 {
    transition: transform 2s ease 0s;
}
.image3:hover {
    transform: scale(1.3);
}
.image4:hover {
    /* transform: scale(1.3); */
    transform: rotate(0.75turn);
}
